@page "/"

<PageTitle>Tiny Blazor Admin</PageTitle>

<h1>Admin Panel</h1>
<div>
    <p>
    Welcome to the <b><a href="https://github.com/YourFbiAgentBob/TinyBlazorAdmin" target="_blank">Tiny Blazor Admin</a></b>
    </p>

    <div>
    <p>This is the frontend of a solution using <a href="https://github.com/YourFbiAgentBob/AzUrlShortener" target="_blank">UrlShortener</a> both projects are in development.</p>
    
    <p>This site is build using <a href="http://blazor.net/" target="_blank">.Net Blazor Web Assembly</a> and some Blazor components from <a href="https://blazor.syncfusion.com/" target="_blank">Syncfusion</a> (thank you for the Community licence)</p>

    <p>If you want to learn more about Tiny Blazor Admin Panel please refer to the documentation</a>.</p>
    </div>

    <div style="align-content: right;"><img class="mainLogo" src="/images/TinyBlazorAdmin.png" /></div>
</div>
